<ion-tabs>
  <div style="width:max;background-color: #EE5154;height: 3px;" >

  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-img src="../assets/home.png" style="width: 30px;"></ion-img>
      <ion-label>หน้าแรก</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="shop()">
      <ion-img src="../assets/shop.png" style="width: 35px;"></ion-img>
      <ion-label>ร้านค้า</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me" >
      <ion-img src="../assets/me.png" style="width: 35px;"></ion-img>
      <ion-label>ฉัน</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
