ion-content {
    --background: #FFF2F3;
}

.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background-color: white;
}

.other {
    width: 60%;
    background: #7979797e;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.my{
    width: 50%;
    background: #7979797e;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 5px;
}