<ion-header [translucent]="true">
  <ion-toolbar style="padding-top: 3%;background-image: url('../assets/bg.jpg');">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>จัดส่ง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div style="width:max;background-color: hsl(359, 82%, 63%);height: 3px;" ></div>
    <ion-row >
        <ion-card style="width: 40%;height: 30%;" *ngFor="let i of items" >
          <ion-img src="{{i.pic}}"></ion-img>
          <ion-card-content>
            <h2 align="center"><b>{{i.name}}</b></h2>
            <p *ngIf="i.status == 'not send'" align="left" style="font-size: 15px;color: red;margin-top: 10px;margin-left: 10px;">ยังไม่ได้ส่ง</p>
            <p *ngIf="i.status == 'send'" align="left" style="font-size: 15px;color: green;margin-top: 10px;margin-left: 10px;">กำลังส่ง</p>
            <p>shop: {{i.shop}}</p>
            <ion-button (click)="cancel(i)" *ngIf="i.status == 'not send'" class="but">ยกเลิก</ion-button>
          </ion-card-content>
        </ion-card>
    </ion-row>
</ion-content>
